<!DOCTYPE html>
<html>
<head>
<title>{% block title%}Microbiome Explorer{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css_style.css' %}" />
  <meta charset="utf-8">
  <title>jQuery UI Button - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="//code.jquery.com/theme.default.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
  <script>
  $(function() {
    $( "input[type=submit], a, button" )
      .button()
      .click(function( event ) {
        event.submit()
      });
  });
  $(document).ready(function(){
  $(":reset").button();

});
  </script>

<div id="container">
            <ul>
			<li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li> <!-- This is the address of the link Register   -->
            <li><a href="/samples">Samples</a></li>  <!--This is the address of the link List  -->
            <li><a href="/showInfo">showInfo</a></li>
            <li><a href="/showProfile">showProfile</a></li>
            <li><a href="/searchVariable">searchVariable</a></li>
			<li><a href="/searchProfile">searchProfile</a></li>
            </ul>

<div id="content">
{% block content %}


{% endblock %}
    </div>
</div>
</body>
		<div id="footer">
		<p>Snehal K. Talati BNFO 620</p>
		<p>Date: 2/16/2014</p>
        <p>Version: Uses Models and DB</p>
		</div>


</html>