{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Button - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="//code.jquery.com/theme.default.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />



    <style>
        table {
            text-align: center;
            font-size: 12px;
            font-family: verdana;
            background: #c0c0c0;
        }

        table thead tr,
        table tfoot tr {
            background: #c0c0c0;
        }

        table tbody tr {
            background: #f0f0f0;
        }

        td, th {
            border: 1px solid white;
        }
    </style>
  <script>
  $(function() {
    $( "input[type=submit], a, button" )
      .button()
      .click(function( event ) {
        event.submit()
      });
  });
  $(document).ready(function(){
  $(":reset").button();
  $("#myTable").DataTable();
});
  </script>
<form action="" method="post">{% csrf_token %}
    <h1>Sample Variable Comparison</h1>
	{% if message %}
        {% if condition %}
		<p>{{ message }} <b>{{ condition }}</b></p>
	    {% else %}
        <p>{{ message }}</p>
        {% endif %}
    {% endif %}

{% if samlist %}
<table style="width:200px">
<tr>
	<th>Sample Name </th>
</tr>

    {% for sample in samlist %}
	<tr>
        <td>{{ sample }} </td>
	</tr>
    {% endfor %}
	</table>
{% endif %}



    <label><h4>Choose Sample Variable for Comparison:</h4></label>
    {{ form.samplevariable }}
	<label><h4>Choose Function:</h4></label>
    {{ form.comparator}}
	<label><h4>Search Field:</h4></label>
    {{ form.searchfield}}

<br/>
<br/>
<input type="submit" value="Submit" />
</form>



{% endblock %}